.header {
    padding: 22px 0;
    border-bottom: 1px solid #ececf0;
    @media screen and (max-width: 500px) {
        padding: 14px 0;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 191px;
        height: 42px;
        cursor: pointer;
    }
    &__link {
        font-size: 15px;
        color: #72757d;
        font-weight: 400;
        @media screen and (max-width: 630px) {
            text-align: right;
            margin-left: 20px;
        }
        @media screen and (max-width: 500px) {
            display: none;
        }
    }
}